apiVersion: v1
kind: Service
metadata:
  name: spot-backend-api
  namespace: spot-backend
  labels:
    app: spot-backend
    component: api
spec:
  type: ClusterIP
  ports:
    - name: http
      port: 80
      targetPort: 80
      protocol: TCP
  selector:
    app: spot-backend
    component: api
