# Dependencies
node_modules

# Build output
dist

# Git
.git
.gitignore

# IDE
.idea
.vscode
*.swp
*.swo

# Environment files
.env
.env.*
!.env.example

# Logs
*.log
logs

# Test
test
coverage
*.spec.ts
*.test.ts
jest.config.*

# Documentation
docs
*.md
!README.md

# Misc
.DS_Store
Thumbs.db
*.tgz
